body {
  font-family: system-ui;
  background: #0f172a;
  color: #e5e7eb;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: #020617;
  padding: 25px;
  border-radius: 10px;
  width: 320px;
}

h2 {
  text-align: center;
  margin-bottom: 15px;
}

input[type="number"],
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background: #020617;
  color: #e5e7eb;
  border: 1px solid #334155;
  border-radius: 6px;
}

label {
  display: block;
  margin: 5px 0;
}

button {
  width: 100%;
  padding: 10px;
  background: #2563eb;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background: #1d4ed8;
}
